@import 'ember-paper';
@import url(https://fonts.googleapis.com/css?family=Quicksand);

$gray: #FFF;
$dark-gray: #ddd;
$orange: #F7941E;
$blue: #00AEEF;
$green: #00efb9;
$dark-blue: #0037ef;
$white: #fff;


.ember-application {
	background-color: $blue;
}

.md-default-theme.tool-bar-size {
	background-color: $white;
	height: 150px;
	img {
		height: 90px;
		margin-top: 80px;
	}
}

.md-toolbar.md-default-theme {
	background-color: $blue;
	img {
		height: 90px;
	}
}

.tool-bar-size {
	height: 200px;
	background-color: $blue;
}

.md-padding.md-default-theme {
	background-color: $blue;
}

.cell-block-white {
	background-color: $white;
}

h1 {
	color: $white;
	font-size: 30pt;
}

div.tool-bar.header {
	text-align: center;
	color: $orange;
	font-size: 45pt;
}