{{#paper-nav-container}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <span class="md-breadcrumb-page">Alliance for A Better Utah - Follow the Money</span>
      </div>
    {{/paper-toolbar}}

    {{#paper-content class="md-padding"}}
      {{outlet}}
    {{/paper-content}}
  </div>
{{/paper-nav-container}}


