{{#paper-nav-container}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{#paper-toolbar class="md-whiteframe-z5 tool-bar-size"}}
      <div class="tool-bar header">
        <div class="md-toolbar-tools" style="height: 200px">
          <a href="http://imgur.com/CU7DN7A"><img src="http://i.imgur.com/CU7DN7A.png" title="Alliance for a Better Utah" /></a>
        </div>
          Transparency Tracker
      </div>
    {{/paper-toolbar}}

    {{#paper-content class="md-padding"}}
      {{outlet}}
    {{/paper-content}}
  </div>
{{/paper-nav-container}}


