

{{!-- {{#paper-content class="md-whiteframe-z1 grid-list-demo1"}} --}}



<h1> Mia Love </h1>

{{#paper-grid-list  md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
  md-row-height-gt-md="1:1" md-row-height="2:2"
  md-gutter="12px" md-gutter-gt-sm="8px"}}


{{#paper-grid-tile id="candidate-header" class="md-whiteframe-z4 candidate-header head" md-rowspan="0.5" md-colspan="2" md-colspan-sm="1"}}
      
This is a graph
      
{{/paper-grid-tile}}


{{#paper-grid-tile class="md-whiteframe-z5 cell-block-white" md-rowspan="2" md-colspan="2" md-colspan-sm="1"}}

  {{#paper-grid-tile-footer}}
      This is the footer
      {{/paper-grid-tile-footer}}

    This is cool for cool

    {{/paper-grid-tile}}

{{/paper-grid-list}}

{{!-- {{/paper-content}} --}}

{{outlet}}
